<fieldset>
  <% if legend %><legend><%= legend %></legend><% end %>
  <label><%= f.label "Google Document Location" %></label>
  <%= link_to "Go to the google doc", f.object.document_url, class: "btn btn-info", target: "_blank" %>

  <label><%= f.label "Youtube URL" %></label>
  <%= f.text_field :youtube_url, class: "span12", readonly: readonly %>
</fieldset>
<div class="span12" style="text-align:center">
  <% if f.object.youtube_url %>
    <iframe width="640" height="360" src="<%= f.object.youtube_url %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
</div>
