<%= render "layouts/page_header", title: "Submit Your Work" %>
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <div class="span8">
  <% if current_user %>
    <%= form_for Work.new, multipart: true do |f| %>
      <%= render "form_student_fields", f: f, legend: "First, a few questions"  %>
      <fieldset>
        <legend>What are we betterizing?</legend>
        <label>A document you want to upload?</label>
        <%= f.file_field :temp_document %>

        <label>Or some straight-up text?</label>
        <%= f.text_area :temp_text, rows: 4, columns: 60, class: "span12"  %>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Start Work</button>
        </div>
      </fieldset>
    <% end %>
  <% else %>
    <div>
      You are not currently signed in. In order to work with us, see Patrick.
    </div>
  <% end %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
